.brands-container__element {
  background-color: #FFFFFF;
  width: 240px;
  height: 72px;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  display: flex;
}

@media screen and (min-width: 880px) {
  .brands-container__element {
    background-color: #FFFFFF;
    width: 240px;
    height: 72px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    display: flex;
  }
}