.read-more {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  align-items: center;
  margin: 16px 0 0 24px;
  cursor: pointer;
  transition: opacity .3s;
  letter-spacing: -0.2px;
  
}

.read-more:hover {
  opacity: 0.6;
}


@media screen and (min-width: 880px) {
  .read-more {
    margin-left: 32px; 
  }
}